@font-face {
  font-family: 'nyt-franklin';
  src: url('./franklin-normal-700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'nyt-franklin', sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
